.user-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid var(--light-grey);
  border-radius: 15px;
  width: 400px;
  min-height: 200px;
  padding: 2rem;
  color: var(--bleu);
}

.user-information-container p {
  margin: 1rem;
}

.user-information-container button {
  padding: 0.7rem 1.5rem;
  margin: 1rem 0;
  border: none;
  border-radius: 30px;
  background-color: var(--cream);
  color: white;
  font-weight: 400;
  }