.product-card-image {
  width: 200px;
  height: 200px;
  background-color: var(--orange);
}

.product-card-information {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.product-card-information p {
  color: var(--blue);
}

.product-card-information h3 {
  color: var(--blue);
  font-weight: 400;
}