@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --light-grey: #F5F3EB;
  --light: #E5D3A0;
  --cream: #E7BD71;
  --orange: #F68C62;
  --green: #356B75;
  --blue: #121648;
  --dark: #04072e;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.allura {
  font-family: 'Allura', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover, a:hover {
  cursor: pointer;
}

